@{
    ViewBag.Title = "Home Page";
}
    <h1>Weather Forecast for:</h1>
    <h2>@ViewBag.location:</h2>
@for (int i = 0; i < 13; i++)
{
<div>
    <img src="@ViewBag.weatherPic[i]"></img><p><span class="glyphicon glyphicon-cloud"></span"> @ViewBag.weather[i]</p>
</div>
}